@model List<Khdamat.Models.WorkerDetails>
@using Microsoft.AspNetCore.Http;
@using System.Globalization

@{
    ViewData["Title"] = "workersControl";
}

<h2 class="makeflex">التحكم في العمال</h2>
<hr />

<table class="zui-table">
    <tr>
        <th class="zui-table thead th">الاسم الاول</th>
        <th class="zui-table thead th">الاسم الاخير</th>
        <th class="zui-table thead th">البريد الالكتروني</th>
        <th class="zui-table thead th">الرقم القومي</th>
        <th class="zui-table thead th">البلد</th>
        <th class="zui-table thead th">المدينة</th>
        <th class="zui-table thead th">الشارع</th>
        <th class="zui-table thead th">رقم الهاتف</th>
        <th class="zui-table thead th">النوع</th>
        <th class="zui-table thead th">تاريخ الميلاد</th>
        <th class="zui-table thead th">التحكم في العميل</th>
        <th class="zui-table thead th">التقييم</th>

    </tr>
    @foreach (var item in Model)
   {
       <tr>
           <td class="zui-table tbody td">@item.worker.First_Name</td>
           <td class="zui-table tbody td">@item.worker.Last_Name</td>
           <td class="zui-table tbody td">@item.worker.Client_Email</td>
           <td class="zui-table tbody td">@item.worker.Natoinal_ID</td>
           <td class="zui-table tbody td">@item.worker.Country</td>
           <td class="zui-table tbody td">@item.worker.Country</td>
           <td class="zui-table tbody td">@item.worker.City</td>
           <td class="zui-table tbody td">@item.worker.Phone</td>
           <td class="zui-table tbody td">@item.worker.Gender</td>
           <td class="zui-table tbody td">@item.worker.Birth_Date.ToString("dd/MM/yyyy",CultureInfo.InvariantCulture)</td>
           <td class="zui-table tbody td">@item.worker.Rating</td>

           <td>
                @if (item.isAdmin == false && item.isSupporter == false)
                {
                    @if (Context.Session.GetInt32("isAdmin") == 1)
                    {
                        <a class="btn-primary" href=@Url.Action("protosupporter","Workers",item.worker)>خليه السابورتر</a>
                    }
                    @if (item.isBlocked == false)
                    {
                        <a class="btn-primary" href="@Url.Action("BlockWorker","Workers", item.worker)">بلوك</a>
                    }

                    @if (item.isBlocked == true)
                    {
                        <a class="btn-primary" href="@Url.Action("UNBlockWorker","Workers", item.worker)">ازل البلوك</a>
                    }
                }
                @if (item.isAdmin == true || item.isSupporter == true)
                {
                    <td class="zui-table tbody td">Is Supporter/Admin</td>
                }

       </tr>
   }
</table>

@*@foreach (var item in Model)
    {

<div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم الاول:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.First_Name)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم الاخير:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Last_Name)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">البريد الالكتروني:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Client_Email)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الرقم القومي:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Natoinal_ID)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">البلد:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Country)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">المدينة:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.City)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الشارع:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Street)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">رقم الهاتف:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Phone)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">النوع:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Gender)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">تاريخ الميلاد:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Birth_Date)</p>
    </div>

    @if (item.isAdmin == false && item.isSupporter == false)
    {
            <div class="makeflex">
                @if (item.isSupporter == false)
                {
                    <a class="defultbutton rightButton" href=@Url.Action("protosupporter","Clients",item.client)>خليه السابورتر</a>
                }
            @if (item.isBlocked == false)
            {
                <a class="defultbutton leftButton" href="@Url.Action("BlockClient","Clients", item.client)">بلوك</a>
            }

            @if (item.isBlocked == true)
            {
                <a class="defultbutton leftButton" href="@Url.Action("UNBlockClient","Clients", item.client)">ازل البلوك</a>
            }

        </div>
    }
</div>
<hr />


}*@


