@model List<Khdamat.Models.ClientDetails>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "clientsControl";
}

<h2 class="makeflex">التحكم في الزباين</h2>
<hr />
@foreach (var item in Model)
    {

<div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم الاول:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.First_Name)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الاسم الاخير:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Last_Name)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">البريد الالكتروني:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Client_Email)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الرقم القومي:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Natoinal_ID)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">البلد:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Country)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">المدينة:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.City)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">الشارع:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Street)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">رقم الهاتف:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Phone)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">النوع:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Gender)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">تاريخ الميلاد:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.client.Birth_Date)</p>
    </div>

    @if (item.isAdmin == false)
    {
        <div class="makeflex">
            <a class="defultbutton" asp-area="" asp-controller="Clients" asp-action="profile">خليه السابورتر</a>
            @if (item.isBlocked == false)
{
<a class="defultbutton" asp-area="" asp-controller="Clients" asp-action="profile">بلوك</a>
}

            @if (item.isBlocked == true)
            {
                <a class="defultbutton" asp-area="" asp-controller="Clients" asp-action="profile">ازل البلوك</a>
            }

        </div>
    }
</div>
<hr />


}


