@model Khdamat.Models.SuggReq
@{
    ViewData["Title"] = "SuggReq";
}



           @using(Html.BeginForm())  
           {

                 @Html.AntiForgeryToken() 
                 <div class="registerdes">

                     <h3>الاقتراحات و الشكاوى</h3>

                 <div class="desc">
                 اقتراح
               
                @Html.RadioButtonFor(model => model.compORsug,'s')  
                شكوي  
                @Html.RadioButtonFor(model => model.compORsug,'c') 
                </div>
               <div>
                    @Html.TextBoxFor(model=>model.Title,new {placeholder = "عنوان الموضوع"})
                    @Html.ValidationMessageFor(model=>model.Title,"")
               
                </div>
            
                @Html.TextAreaFor(model=>model.description,new { @class = "boxx" })
               @Html.ValidationMessageFor(model=>model.description,"",new { @class = "text-danger" })
               <br>

                <input type="submit" value="ارسال" class="ersal"/>
                 

                 </div>
                
           }